@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Lobster&display=swap');

/* Font Imports */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("C:\Users\This PC\Downloads\1188213.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(255, 145, 0);
}

.container {
    position: relative;
}

.center {
    position: absolute;
    top: 46%;
    width: 100%;
    font-family: 'Lobster', cursive;
    font-size: 250%;
    color: #ffa20c;
    text-align: center;
}

.floral {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    height: auto;
}

.date {
    text-align: center;
    font-size: 150%;
    color: rgb(175, 0, 0);
    font-family: 'Black Ops One', cursive;
}

.flow {
    overflow: hidden;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    /* white-space: nowrap; */
}

.flow img {
    width: auto;
    height: 33px;
    margin: 0 20px;
    
}

.flow img:hover {
    transform:scale(4,4);
    transition: transform 0.3s ease;
}

.flow .imageb {
    opacity: 0%;
}


